@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Global Variables */

:root {
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* text-transform: capitalize; */
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease-in;
}

body {
    width: 100%;
}



/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6f3;

    box-shadow: var(--box-shadow);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: all 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    /*active is a class*/
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    /*to make underline visible we have to make its parent position relative,which is 'li*/
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#mobile {
    display: none;
}

.close-btn {
    display: none;
}


/* product-detailes */

#pro-detailes .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#pro-detailes {
    display: flex;
    margin-top: 20px;
}

#pro-detailes .single-pro-details {
    width: 50%;
    padding: 30px;
}

#pro-detailes .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-detailes .single-pro-details h2 {
    font-size: 26px;
}

#pro-detailes .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#pro-detailes .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    /* background-color: #088178; */
    /* color: white; */
    /* outline: none; */
    /* border: none; */
    /* border-radius: 12px; */
}

#pro-detailes .single-pro-details input:focus {
    outline: none;
}

#pro-detailes .single-pro-details button {
    background-color: #088178;
    color: white;
}

#pro-detailes .single-pro-details button:hover {
    background-color: #213c3a;
    color: #b9f5f1;
}

#pro-detailes .single-pro-details span {
    line-height: 25px;
}



/* Featured Products Section */

.product1 {
    text-align: center;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    ;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.product1 .pro .des span {
    color: #088178;
    font-size: 12px;
}

.product1 .pro .des h5 {
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    /*we have to make parent position relative, which is '.pro*/
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}



/* Newsletter */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('./img/banner/b14.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 86%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .normal {
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    text-decoration: none;
    font-size: 13px;
    color: #222;
    margin: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 12px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer a:hover,
footer .icon i:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}




/* Media Query */

@media (max-width:799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    /* navbar */

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    .toggle-btn,
    .close-btn {
        background-color: transparent;
        border-color: transparent;
        border: none;

        cursor: pointer;
        outline: none;
    }

    .close-btn {
        /* We blocked the close btn in full screen to show in media query we hav to use   display: initial; */
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #navbar.show-navbar {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    /* to hide the shopping cart icon from the sidebar list */
    #lg-bag {
        display: none;
    }


    /* hero section */
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    /* feature section */
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    .product1 .pro-container {
        justify-content: center;
    }

    .product1 .pro {
        margin: 15px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 50vh;
        margin-bottom: 20px;
    }

    #banner3 {
        display: block;
        padding: 0px 40px;
    }

    #banner3 .banner-box {
        min-width: 28%;
        height: 50vh;
    }

    #newsletter .form {
        width: 70%;
    }

}



@media (max-width:477px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h2 {
        font: 32px;
    }

    h1 {
        font-size: 38px;
    }


    /* hero section */
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    /* feature section */
    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    .product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
        justify-content: center;
        padding: 42px;
    }

    #sm-banner .banner-box {
        height: 22vh;
    }

    #banner3 {
        padding: 0px 20px;
    }

    #banner3 .banner-box {
        min-width: 38%;
        height: 22vh;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .col {
        margin: 10px;
    }

    #pro-detailes {
        flex-direction: column;
    }

    #pro-detailes .single-pro-image {
        width: 100%;
        padding: 10px;
    }

    #pro-detailes .single-pro-details {
        width: 100%;
    }

    #pro-detailes .single-pro-details h4 {
        padding: 20px 0 20px 0;
    }

}